body {
    background-color: lightblue;
}

ol {
    list-style-type: none;
}

li {
    padding-bottom: 20px;
}

#header {
    margin: 30px 20px;
    padding-left: 200px;
}

#sidebar {
    float: left;
}

#content {
    padding-left: 250px;
}